# Fichier d'exemple de workflow GitHub Actions pour déployer sur Firebase

name: Deploy to Firebase

on:
  push:
    branches:
      - main # Déclenche le workflow sur un push sur la branche main

jobs:
  deploy_firebase:
    name: Deploy App to Firebase
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18' # Assurez-vous que cela correspond à votre environnement de développement

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build
        
      - name: Deploy to Firebase
        run: |
          firebase deploy --token "${{ secrets.FIREBASE_TOKEN }}" --project "${{ secrets.FIREBASE_PROJECT_ID }}" --non-interactive
